/* :root {
    --main-bg-color: #ad0e98;
    --main-text-color: hsl(288, 100%, 31%);
    --second-text-color: #9e17b9;
    --second-bg-color: #7c16ac;
  } */
  :root{
    --secondary-color: #543093ff;
    --primary-color: #ffffff;
    --black-color: #000000ff;
    --grey-color: #eeeeeeff;
    --light-orange: #e6b8afff;
    --deep-orange: #dd7e6bff;
}
  .sidebar{
      background-color: var(--secondary-color) !important;
        color: white !important;
  }

  .sidebar a{
    color: white;
  }

  .secondary-bg {
    background-color: var(--secondary-color);
  }

  .secondary-text{
    color: var(--secondary-color) !important;
  }

  hr {
    margin: 0 auto;
 }

 .fa-user-circle{
  color: var(--secondary-color);
}

 

  
  #wrapper {
    overflow-x: hidden;
    background-color: whitesmoke;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }